.banner_wrap {
  width: 100%;
  height: 9rem;
  background-image: url(../img/common/bg.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}
.banner_wrap .con {
  position: relative;
  left: 10.8rem;
  top: 3rem;
  width: 4rem;
}
.banner_wrap .title {
  font-size: 0.6rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.banner_wrap .sm_title {
  font-size: 0.45rem;
  color: #fff;
  margin-bottom: 0.35rem;
}
.banner_wrap .xs_title {
  font-size: 0.4rem;
  color: #fff;
  margin-bottom: 0.54rem;
}
.banner_wrap .btn {
  display: block;
  width: 1.6rem;
  height: 0.5rem;
  font-size: 0.2rem;
  color: #fff;
  background: #4c8efc;
  text-align: center;
  line-height: 0.5rem;
  border-radius: 4px;
}