.content_wrap {
  position: relative;
  width: 13.66rem;
  margin: 0 auto;
  margin-top: 0.74rem;
}
.content_wrap .top {
  display: flex;
  margin-bottom: 0.15rem;
  justify-content: space-between;
}
.content_wrap .top li{
  font-size: 0.3rem;
}
.content_wrap .top a{
  font-size: 0.26rem;
  color: #4c94fc
}
.content_wrap .detail{
  padding: 0.7rem 1rem 1.56rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 1.1rem;
  box-shadow:1px 1px 20px #e6e6e6,1px -1px 20px #e6e6e6,-1px 1px 20px #e6e6e6,-1px -1px 20px #e6e6e6;
}
.content_wrap .detail .title{
  width: 100%;
  text-align: center;
  font-size: 0.36rem;
  margin-bottom: 0.55rem;
  color: #242424;
}
.content_wrap .detail .con{
  width: 100%;
  font-size: 0.22rem;
  line-height: 0.4rem;
  color: #242424;
}
.content_wrap .detail .con.big{
  font-size: 0.3rem;
  margin-bottom: 0.1rem;
}
.content_wrap .detail .con .sp{
  color: red;
}
.content_wrap .detail .con.mg {
  margin-top: 0.56rem;
}
.content_wrap .detail .con.center {
  text-align: center;
}
.content_wrap .detail .con.margin {
  margin-bottom: 0.3rem;
}
.content_wrap .detail .con.blue {
  color: #4c94fc;
}
.content_wrap .detail .con.weight {
  font-weight: 400;
}
.content_wrap .detail .con.banquan {
  color: #999;
}
.content_wrap .detail .img_box{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box img{
  width: 9.63rem;
  height: 5.92rem;
}
.content_wrap .detail .img_box2{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box2 img{
  width: 10.8rem;
  height: 3.75rem;
}
.content_wrap .detail .img_box3{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box3 img{
  width: 10.8rem;
  height: 4.99rem;
}
.content_wrap .detail .img_box4{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box4 img{
  width: 10.8rem;
  height: 23.38rem;
}
.content_wrap .detail .img_box5{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box5 img{
  width: 10.8rem;
  height: 2.61rem;
}
.content_wrap .detail .img_box6{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box6 img{
  width: 6.4rem;
  height: 11.36rem;
}
.content_wrap .detail .img_box7{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box7 img{
  width: 10.8rem;
  height: 19.2rem;
}
.content_wrap .detail .img_box8{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box8 img{
  width: 10.48rem;
  height: 18.64rem;
}
.content_wrap .detail .img_box9{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box9 img{
  width: 7.2rem;
  height: 10.9rem;
}
.content_wrap .detail .img_box10{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box10 img{
  width: 7.89rem;
  height: 17.09rem;
}
.content_wrap .detail .img_box11{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box11 img{
  width: 10.8rem;
  height: 4.16rem;
}
.content_wrap .detail .img_box111{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box111 img{
  width: 6rem;
  height: 3.36rem;
}
.content_wrap .detail .img_box222{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box222 img{
  width: 10.8rem;
  height: 4.27rem;
}
.content_wrap .detail .img_box333{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box333 img{
  width: 7.5rem;
  height: 4.5rem;
}
.content_wrap .detail .img_box444{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box444 img{
  width: 6.02rem;
  height: 3.28rem;
}
.content_wrap .detail .img_box555{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box555 img{
  width: 7.97rem;
  height: 3.33rem;
}
.content_wrap .detail .img_box666{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box666 img{
  width: 6.21rem;
  height: 3.59rem;
}
.content_wrap .detail .img_box777{
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.content_wrap .detail .img_box777 img{
  width: 9.38rem;
  height: 6.89rem;
}