body {
    background: #ebebeb;
    padding-bottom: 2rem;
}
.content_wrap {}
.content_wrap .content {
    width: 13.6rem;
    margin: 0 auto;
    margin-top: 0.4rem;
}
.content_wrap .content .top {
    display: flex;
    justify-content: space-between;
}
.content_wrap .content .top div {
    width: 44%;
    padding: 0.15rem 0.3rem 0.3rem 0.3rem;
    border-radius: 4px;
    background: #fff;
    box-shadow:1px 1px 20px #e6e6e6,1px -1px 20px #e6e6e6,-1px 1px 20px #e6e6e6,-1px -1px 20px #e6e6e6;
}
.content_wrap .content .title {
    font-size: 0.2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.content_wrap .content .top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content_wrap .content .top ul p {
    width: 100%;
    text-align: center;
}
.content_wrap .content .num{
    color: #4a8fe6;
    font-size: 0.22rem;
    font-weight: bold;
}
.content_wrap .content .num.unusual{
    color: #f47791;
}
.content_wrap .content .num.off{
    color: #fbb200;
}
.content_wrap .content .xs_title{
    color: #b4b4b4;
    font-size: 0.2rem;
    margin-top: 0.3rem;
}
.content_wrap .content .middle {
    width: 100%;
    background: #fff;
    box-shadow:1px 1px 20px #e6e6e6,1px -1px 20px #e6e6e6,-1px 1px 20px #e6e6e6,-1px -1px 20px #e6e6e6;
    border-radius: 4px;
    padding: 0.2rem 0.2rem 0.3rem 0.2rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
}
.content_wrap .content .middle .con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.8rem;
}
.content_wrap .content .list {
    padding-top: 0.3rem ;
}
.content_wrap .content .list .bar {
    margin-top: 0.3rem;
    width: 100%;
    height: 0.8rem;
    background: #65a4e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #bad7f5;
}
.content_wrap .content .list .bar li.actived{
    border-bottom: 1px solid #fff;
}
.content_wrap .content .list .bar.bar2 {
    margin-top: 0rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_wrap .content .list .bar.bar2 p{
    font-size: 0.2rem;
    color: #fff;
}
.content_wrap .content .list .bar.bar2 .addDevice {
    width: 1.1rem;
    height: 0.44rem;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.2rem;
    line-height: 0.44rem;
    text-align: center;
}
.content_wrap .content .list .bar.bar3 {
    background: #fff;
}
.content_wrap .content .list .bar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 0.8rem;
}
.content_wrap .content .list .bar.bar3 .boxBtn {
    width: 0.8rem;
    height: 0.38rem;
    border: 1px solid #65a4e9;
    border-radius: 4px;
    color: #65a4e9;
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.38rem;
    margin-left: 0.1rem;
    cursor: pointer;
}
.content_wrap .content .list .bar ul li {
    font-size: 0.2rem;
    color: #fff;
    padding: 0rem 0.55rem;
    height: 100%;
    line-height: 0.8rem;
    border-bottom: 1px solid #bad7f5;
    cursor: pointer;
}
.content_wrap .content .list .bar .right {}
.content_wrap .content .list .bar .right .input_box{
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.content_wrap .content .list .bar .right .input_box .select{
    position: relative;
    width: 1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 0.1rem;
    box-sizing: border-box;
    background: #fff;
}
.content_wrap .content .list .bar .right .input_box .select .jiao{
    position: absolute;
    top: 0.18rem;
    right: 0.1rem;
    display: inline-block;
    width:0px;
    height:0px;
    border-width:0.08rem;
    border-style:solid;
    border-color:#898484 transparent transparent transparent;
  }
.content_wrap .content .list .bar .right .input_box .select p{
    font-size: 0.2rem;
}
.content_wrap .content .list .bar .right .input_box .option {
    position: absolute;
    top: 0.4rem;
    left: 0rem;
    width: 1rem;
    z-index: 99;
    background: #fff;
    padding-left: 0rem;
}
.content_wrap .content .list .bar .right .input_box .option.hide {
    display: none;
}
.content_wrap .content .list .bar .right .input_box .option p {
    border-bottom: 1px solid #333;
    font-size: 0.2rem;
    color: #333;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    cursor: pointer;
}
.content_wrap .content .list .bar .right .input_box .option p:hover {
    background: #65a4e9;
    color: #fff;
}
.content_wrap .content .list .bar .right .input_box .inputArea {
    height: 0.4rem;
    width: 2rem;
    border: none;
    padding: 0rem 0.1rem;
    box-sizing: border-box;
    border: 0px;
    outline: none;
}
.content_wrap .content .list .bar .right .input_box .sousuo {
    font-size: 0.2rem;
    background: #fff;
    color: #333;
    width: 0.4rem;
    height: 0.4rem;
    background-image: url(../img/common/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.2rem 0.2rem;
    cursor: pointer;
}
.content_wrap .content .list .bar3 ul li {
    font-size: 0.2rem;
    color: #484848;
    padding: 0rem 0.55rem;
}
.content_wrap .content .list .info  ul li .pick{
    background: #fff;
    cursor: pointer;
    margin-bottom: 0.08rem;
}
.content_wrap .content .list .info  ul li .pick .name {
    color: #2c2c2c;
    font-size: 0.2rem;
    padding: 0.15rem 0.3rem 0.15rem 0.3rem;
}
.content_wrap .content .list .info  ul li .pick .status {
    color: #3ac949;
    margin-left: 0.6rem;
}
.content_wrap .content .list .info  ul li .pick .left {
    font-size: 0.18rem;
    color: #5a5a5a;
}
.content_wrap .content .list .info  ul li .pick .left span {
    margin-right: 6px;
}
.content_wrap .content .list .info  ul li .pick .money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.15rem 0.3rem 0.15rem 0.3rem;
}
.content_wrap .content .list .info  ul li .pick .right {
    display: flex;
    justify-content: space-between;
}
.content_wrap .content .list .info  ul li .pick .right img {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 6px;
}
.content_wrap .content .list .info  ul li .pick .right div {
    width: 1.1rem;
    height: 0.44rem;
    background: #65a4e9;
    border-radius: 4px;
    color: #fff;
    font-size: 0.2rem;
    line-height: 0.44rem;
    margin-right: 6px;
    text-align: center;
}
.content_wrap .content .list .info  ul li .pick .down {
    background: #f5f5f5;
    padding: 0.15rem 0.3rem 0.15rem 0.3rem;
}
.content_wrap .content .list .info  ul li .pick .down .line {
    color: #000000;
    font-size: 0.2rem;
    padding: 0.15rem 0rem;
}
.content_wrap .content .list .info  ul li .pick .down .line p {
    width: 48%;
    display: inline-block;
}
.content_wrap .content .list .info  ul li .pick .down .line span{
    color: #868686;
    font-size: 0.2rem;
    margin-left: 0.1rem;
}