body {
  background: #f4f4f4;
}
.content_wrap {
  position: relative;
  width: 100%;
  padding-top: 0.42rem;
  box-sizing: border-box;
}
.content_wrap .content {
  position: relative;
  width: 15.1rem;
  margin: 0 auto;
}
.content_wrap .content .select_box {
  display: flex;
  height: 0.8rem;
  line-height: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.16rem;
  background: #fff;
  box-sizing: border-box;
}
.content_wrap .content .select_box .left {
  position: relative;
  cursor: pointer;
}
.content_wrap .content .select_box .left input {
  position: absolute;
  width: 1.63rem;
  height: 0.5rem;
  top: 0;
  left: 0;
  font-size: 34px; 
  opacity: 0
}
.content_wrap .content .select_box .left .fileinput-button {
  display: flex;
  align-items: center;
  width: 1.63rem;
  height: 0.5rem;
  border-radius: 4px;
  font-size: 0.18rem;
  line-height: 0.5rem;
  background: #fff;
  box-shadow:1px 1px 1px #ededed,1px -1px 1px #ededed,-1px 1px 1px #ededed,-1px -1px 1px #ededed;
}
.content_wrap .content .select_box .left .fileinput-button span {
  font-size: 0.18rem;
  margin-left: 0.36rem;
  margin-right: 0.06rem;
}
.content_wrap .content .select_box .left .fileinput-button img {
  width: 0.18rem;
  height: 0.18rem;
}
.content_wrap .content .select_box .right {
  display: flex;
}
.content_wrap .content .select_box .right .select_option {
  position: relative;
  margin-right: 0.7rem;
}
.content_wrap .content .select_box .right .select_option .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.18rem;
  height: 0.42rem;
  padding: 0rem 0.3rem;
  box-sizing: border-box;
  background: #f4f4f4;
  border-radius: 2px;
  cursor: pointer;
}
.content_wrap .content .select_box .right .select_option .select p {
  width: 100%;
  font-size: 0.18rem;
}
.content_wrap .content .select_box .right .select_option .select .jiao {
  position: relative;
  top: 0.06rem;
  display: inline-block;
  width:0px;
  height:0px;
  border-width:0.12rem;
  border-style:solid;
  border-color:#898484 transparent transparent transparent;
}
.content_wrap .content .select_box .right .select_option .option {
  position: absolute;
  left: 0rem;
  top: 0.42rem;
  width: 100%;
  background: #f4f4f4;
  z-index: 99;
}
.content_wrap .content .select_box .right .select_option .option li {
  width: 100%;
  height: 0.42rem;
  border-bottom: 1px solid #000;
}
.content_wrap .content .select_box .right .select_option .option li a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 0.42rem;
  font-size: 0.18rem;
  padding-left: 0.3rem;
  color: #898484;
  box-sizing: border-box;
}
.content_wrap .content .select_box .right .select_option .option li a:hover {
  color: #fff;
  background: #218bff;
}
.content_wrap .content .select_box .right .new {
  width: 1.32rem;
  height: 0.42rem;
  color: #fff;
  font-size: 0.18rem;
  line-height: 0.42rem;
  text-align: center;
  background: #218bff;
  border-radius: 4px;
}
.content_wrap .content .area {
  width: 100%;
  /* background: #fff; */
  padding-bottom: 0.6rem;
  box-sizing: border-box;
  margin-bottom: 0.85rem;
}
.content_wrap .content .bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.65rem;
  background: #171717;
}
.content_wrap .content .area .bar img {
  width: 0.56rem;
  height: 0.5rem;
  margin-left: 1rem;
}
.content_wrap .content .area .bar p {
  font-size: 0.28rem;
  color: #fff;
  margin-left: 0.22rem;
}
.content_wrap .content .area .con {
  position: relative;
  width: 10.8rem;
  margin: 0 auto;
}
.content_wrap .content .area .con .title {
  width: 100%;
  text-align: center;
  font-size: 0.42rem;
  color: #000;
  font-weight: 400;
  margin-top: 0.8rem;
}
.content_wrap .content .area .con .input_box {
  width: 100%;
  height: 4.8rem;
  font-size: 0.26rem;
  color: #c9c9c9;
  background: #f4f4f4;
  border-radius: 6px;
  margin-top: 0.66rem;
  border: 1px solid #dedddd;
  padding: 0.3rem 0.2rem;
  box-sizing: border-box;
}
.content_wrap .content .area .con .yes {
  font-size: 0.24rem;
  color: #585858;
  margin-top: 0.3rem;
  text-align: left;
  background: #fff;
  border: none;
  height: 0.4rem;
}
.content_wrap .content .area .con .yes input {
  position: relative;
  top: -0.04rem;
  margin-right: 0.14rem;
}
.content_wrap .content .area .con .yes span{
  color: #218bff;
}
input[type=checkbox] {  
  position: relative; 
}  
input[type=checkbox]::before{  
  content:'';  
  position: absolute;  
  width: 0.24rem;  
  height: 0.24rem;  
  background: url("../img/common/check.png") no-repeat;  
}  
input[type=checkbox]:checked::before {  
  background: url("../img/common/checked.png") no-repeat;
  content: '';  
}
.content_wrap .content .area .con .agree {
  display: block;
  width: 3.45rem;
  height: 0.76rem;
  text-align: center;
  line-height: 0.76rem;
  font-size: 0.26rem;
  color: #bfc1c5;
  background: #eee;
  border-radius: 4px;
  margin-top: 0.74rem;
  margin-bottom: 1.3rem;
}
.content_wrap .content .area .con .agree.actived {
  display: block;
  width: 3.45rem;
  height: 0.76rem;
  text-align: center;
  line-height: 0.76rem;
  font-size: 0.26rem;
  color: #fff;
  background: #4c94fc;
  border-radius: 4px;
  margin-top: 0.74rem;
  margin-bottom: 1.3rem;
}
.content_wrap .content .area .con .t {
  font-size: 0.3rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.48rem;
}
.content_wrap .content .area .con .options .brief {
  display: flex;
  align-items: center;
  margin-bottom: 0.36rem;
}
.content_wrap .content .area .con .options .brief input {
  position: relative;
  top: -0.02rem;
  margin-right: 10px;
}
.content_wrap .content .area .con .options .brief p {
  margin-right: 10px;
}
.content_wrap .content .area .con .options .brief p {
  font-size: 0.24rem;
  color: #959595;
}
.content_wrap .content .area .con .options .brief .arrow {
  width: 0.18rem;
  height: 0.1rem;
  cursor: pointer;
}
.content_wrap .content .area .con .options .brief .arrow.down {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 	/* Opera */
}

.content_wrap .content .area .con .options .detail {
  padding-left: 0.53rem;
  box-sizing: border-box;
}
.content_wrap .content .area .con .options .detail.none {
  display: none;
}
.content_wrap .content .area .con .options .detail li {
  font-size: 0.24rem;
  color: #959595;
  margin-bottom: 0.2rem;
}
input[type=checkbox] {  
  position: relative; 
}  
input[type=checkbox]::before{  
  content:'';  
  position: absolute;  
  width: 16px;  
  height: 16px;
  background: url("../img/common/y_un.png") no-repeat;
  background-size: 16px 16px;
}  
input[type=checkbox]:checked::before {  
  background: url("../img/common/y.png") no-repeat;
  background-size: 16px 16px;
  content: '';  
}  
.footer_wrap {
  background: #3b3b3b;
}
.footer_wrap .footer ul li {
  color: #e6e6e6;
}
.footer_wrap .icp {
  color: #e6e6e6;
}
.hide {
  display: none;
}
.alert_wrap {
  display: none;
  position: fixed;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  background: #000;
  /* background-color:#000000;IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  background-color:rgba(0, 0, 0, 0.25); 
}
.alert_wrap.block {
  display: block;
}
.alert_wrap .con {
  position: relative;
  width: 4.54rem;
  height: 2.56rem;
  left: 50%;
  top: 50%;
  margin-left: -2.27rem;
  margin-top: -1.28rem;
  background: #fff;
  border-radius: 4px;
  /* box-shadow:1px 1px 20px #ccc,1px -1px 20px #ccc,-1px 1px 20px #ccc,-1px -1px 20px #ccc; */
}
.alert_wrap .con .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0.44rem;
  padding: 0rem 0.2rem;
  box-sizing: border-box;
  background: #171717;
}
.alert_wrap .con .top p{
  font-size: 0.18rem;
  color: #fff;
  width: 100%;
  line-height: 0.44rem;
}
.alert_wrap .con .top img{
  width: 0.16rem;
  height: 0.16rem;
}
.alert_wrap .con .input {
  position: relative;
  margin-top: 0.5rem;
  padding: 0rem 0.35rem;
  box-sizing: border-box;
}
.alert_wrap .con .input .line{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alert_wrap .con .input .line p{
  font-size: 0.16rem;
}
.alert_wrap .con .input .line input{
  width: 2.65rem;
  height: 0.35rem;
  border-radius: 4px;
  background: #f4f4f4;
  padding-left: 0.2rem;
  box-sizing: border-box;
  border: none;
}
.alert_wrap .con .input .btn_wrap {
  position: relative;
  width: 100%;
  text-align: right;
}
.alert_wrap .con .input .add {
  position: absolute;
  right: 0px;
  display: block;
  width: 0.74rem;
  height: 0.32rem;
  line-height: 0.32rem;
  text-align: center;
  font-size: 0.16rem;
  color: #fff;
  border-radius: 2px;
  background: #218bff;
  margin-top: 0.54rem;
  cursor: pointer;
}